.header {
  grid-area: h;
  background-color:#934D53;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header img{
  padding: 6px;
  margin-left: 30px;
  margin-top: 4px ;

  height: 54px;
  border: 2px solid white;
  border-radius: 12px;
}