.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: #E5C3C6;
    text-align: center;
}
.dialogs_item {
    padding: 20px;
}

.messages {
    padding: 20px;
    line-height: 200%;
}

#textInput {
    height: 60px;
    max-width: 400px;
    width: 400px;
    color: #968D8D;
    margin: 50px auto 0;
    background: white;
    border-radius: 10px;
    font-size: 120%;
}

#addPost{
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-weight: 100;
    transition: all 0.2s;
    margin: 3px;
    border-bottom: 0px solid #eee;
    cursor:pointer;
    width: 80px;
    height: 30px;
  }
  
  button:active{
    transform: scaleX(0.9) translateY(4px);
  }



/* .message {

}
.dialog {

} */